.filme-info {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    margin: 0 auto 12px;
}

.filme-info h1 {
    margin: 14px 0;
}

.filme-info img {
    width: 800px;
    max-width: 100%;
    border-radius: 8px;
}

.filme-info h3 {
    margin: 12px 0;
}

.filme-info span {
    margin-bottom: 8px;
    line-height: 22px;
}

.area-buttons button {
    margin-right: 18px;
    margin-top: 14px;
    margin-left: 0;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s;
}

.area-buttons button:hover {
    background-color: rgb(165, 42, 42);
    color: #fff;
    transform: translateY(-2px);
}

.area-buttons a {
    text-decoration: none;
    transition: all .5s;
}

.area-buttons a:hover {
    color: #fff;
}