header {
    width: 100%;
    background: #000;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.logo:hover {
    opacity: .8;
}

.favoritos {
    padding: 6px 15px;
    background: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}